
.h2{
    font-family: 'Cabin', sans-serif;
    color:var(--lineaColor)


}

.linea
{
    border-top: 1.5px solid var(--lineaColor);
    height: 2px;
    max-height: 15px;
    width: 170px;
    padding: -1px;
    margin: -8px auto 0 auto;
}

.textoLabel{
    color: rgb(124, 123, 123);
}
#fila-proyectos{
    padding-left: 15%;
    padding-right: 15%;
}