<div class="container-fluid">
<br>
<p class="h2 text-center animate__animated animate__backInLeft">Mis Proyectos</p>
<div class="linea animate__animated animate__backInRight"></div>
<br>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <app-item-proyectos></app-item-proyectos>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-proyectos></app-item-proyectos>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-proyectos></app-item-proyectos>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-proyectos></app-item-proyectos>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-proyectos></app-item-proyectos>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-proyectos></app-item-proyectos>
      </div>
    </div>

<br>
</div>