<div class="d-grid px-5 gap-2 d-md-flex justify-content-md-end  "*ngIf="hasAccess">
  <button type="button" class="btn btn-primary btn-sm  " data-bs-toggle="modal"
    data-bs-target="#addProyectoModal" (click)="abrirModal('add')">
    Registrar proyecto
  </button>
 
</div>


<div class="container-fluid">
<br>
<p class="h2 text-center animate__animated animate__backInLeft">Mis Proyectos</p>
<div class="linea animate__animated animate__backInRight"></div>
<br>
<div class="row p-6" id="fila-proyectos">
    <div class="col-sm-6 col-md-4 col-lg-4"  *ngFor="let proyecto of proyectos">
      <!-- Agrego los botones de edición-->
      <div class="col text-end" *ngIf="hasAccess">
        <a type="button" class="btn btn-primary btn-sm "
        data-bs-toggle="modal"
        data-bs-target="#addProyectoModal"
        (click)="abrirModal('edit',proyecto)">
        <i class="fa-solid fa-pen"></i>
        </a>
        <a type="button" class="btn btn-secondary btn-sm "
        data-bs-toggle="modal"
        data-bs-target="#deleteProyectoModal"
        (click)="abrirModal('delete',proyecto)">
        <i class="fa-solid fa-trash-can"></i>
        </a>
      </div>
      <!--Añado cada uno de las tarjetas -->
      <div class="col text-center text-opacity-75" id="item">
        <p class="h5">{{proyecto.titulo}}</p>
        <div class="p-3 border bg-light">
          <div id="item{{proyecto.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={{proyecto.url_image1}} width="200px" height="200px" class="" alt="...">
              </div>
              <div class="carousel-item">
                <img src={{proyecto.url_image2}} width="200px" height="200px" class="" alt="...">
              </div>
              <div class="carousel-item">
                <img src={{proyecto.url_image3}} width="200px" height="200px" class="" alt="...">
              </div>
            </div>
            
          </div>
          <p>{{proyecto.descripcion}}
          </p>
          <div class="card-body">
            <a href="{{proyecto.link}}" class="card-link" *ngIf="proyecto.link!=null || proyecto.link!=''">Enlace a proyecto</a>
            
          </div>
            
        </div>
        
      </div>
    </div>
    
   

<br>
</div>

<!-- Modal añadir y editar Formacion-->

<div class="modal fade" id="addProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"  role="document">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalProyectos"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span ></span>
        </button>
      </div>

      <div class="modal-body">
       
        <form class="row g-3 " [formGroup]="formProyecto" (ngSubmit)="saveProyecto($event)" novalidate="">
          <div class="form-group">
            <input type="hidden" formControlName="id" name="id" id="id" class="form-control">
           </div>
       
          <div class="input-group form-group ">
            <label class="input-group-text textoLabel" for="titulo" >Título </label>
            <input type="text" class="form-control" formControlName="titulo"  name="titulo" placeholder="Título" 
            [ngClass]="{'is-invalid':titulo?.errors && titulo?.touched , 'is-valid':!titulo?.errors && titulo?.touched }"
            required>
            <div *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)" class="text-danger">
              <div *ngIf="titulo?.errors?.['required']">
                El título del proyecto es requerido.
              </div>
              <div *ngIf="titulo?.errors?.['maxlength']">
                El título no puede superar los 50 caracteres. 
              </div>
              
            </div>

          </div>
          <div class="col-12 form-group">
            <div class="form-floating ">
              <textarea class="form-control" placeholder="Ingrese la descripción" formControlName="descripcion"  name="descripcion"
                style="height: 200px"
                [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.touched, 'is-valid':!descripcion?.errors && descripcion?.touched}"></textarea>
              <label for="descripcion">Descripción</label>
            </div>
          </div>
          <div *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)" class=" container text-danger">
              
            <div *ngIf="descripcion?.errors?.['maxlength']">
              La descripción no puede superar los 250 caracteres. 
            </div>
            
          </div>
        
          <div class="input-group form-group">
            <label for="fecha_realizacion" class="input-group-text textoLabel">Año</label>
            <input type="text" class="form-control" formControlName="fecha_realizacion" name="fecha_realizacion" id="fecha_realizacion" placeholder="Año"
            [ngClass]="{'is-invalid':fecha_realizacion?.errors && fecha_realizacion?.touched, 'is-valid':!fecha_realizacion?.errors && fecha_realizacion?.touched}">
          </div>
          <div *ngIf="fecha_realizacion?.invalid && (fecha_realizacion?.dirty || fecha_realizacion?.touched)" class="container text-danger">
              
            <div *ngIf="fecha_realizacion?.errors?.['maxlength'] || fecha_realizacion?.errors?.['minlength']">
              Ingrese un año válido. 
            </div>
            
          </div>
          <div class="input-group form-group">
            <label for="link" class="input-group-text textoLabel">Link del Proyecto</label>
            <input type="text" class="form-control" placeholder="Link del proyecto" formControlName="link" name="link" id="link">
          </div>
          <div *ngIf="link?.invalid && (link?.dirty || link?.touched)" class="text-danger"
          [ngClass]="{'is-invalid':link?.errors && link?.touched, 'is-valid':!link?.errors && link?.touched}">
              
            <div *ngIf="link?.errors?.['maxlength']">
             El enlace no puede superar los 45 caracteres. 
            </div>
            
          </div>
                       
          <div class="input-group form-group">
            <label for="url_image1" class="input-group-text textoLabel">Imágen 1</label>
            <input type="text" class="form-control" placeholder="URL de imágen 1" formControlName="url_image1" name="url_image1" id="url_image1"
            [ngClass]="{'is-invalid':url_image1?.errors && url_image1?.touched, 'is-valid':!url_image1?.errors && url_image1?.touched}">
          </div>
          <div *ngIf="url_image1?.invalid && (url_image1?.dirty || url_image1?.touched)" class="text-danger"
          >
              
            <div *ngIf="url_image1?.errors?.['maxlength']">
             La url no puede superar los 45 caracteres. 
            </div>
            
          </div>
          <div class="input-group form-group">
            <label for="url_image2" class="input-group-text textoLabel">Imágen 2</label>
            <input type="text" class="form-control" placeholder="URL de imágen 2" formControlName="url_image2" name="url_image2" id="url_image2"
            [ngClass]="{'is-invalid':url_image2?.errors && url_image2?.touched, 'is-valid':!url_image2?.errors && url_image2?.touched}">
          </div>
          <div *ngIf="url_image2?.invalid && (url_image2?.dirty || url_image2?.touched)" class="text-danger">
              
            <div *ngIf="url_image2?.errors?.['maxlength']">
             La url no puede superar los 45 caracteres. 
            </div>
            
          </div>
          <div class="input-group form-group">
            <label for="url_image3" class="input-group-text textoLabel">Imágen 3</label>
            <input type="text" class="form-control" placeholder="URL de imágen 3" formControlName="url_image3" name="url_image3" id="url_image3"
            [ngClass]="{'is-invalid':url_image3?.errors && url_image3?.touched, 'is-valid':!url_image3?.errors && url_image3?.touched}">
          </div>
          <div *ngIf="url_image3?.invalid && (url_image3?.dirty || url_image3?.touched)" class="text-danger">
              
            <div *ngIf="url_image3?.errors?.['maxlength']">
             La url no puede superar los 45 caracteres. 
            </div>
            
          </div>
    
          
               
          <div class="modal-footer form-group">
            <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="formProyecto.invalid" disabled>Guardar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"*ngIf="formProyecto.valid ">Guardar</button>

          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>



<!-- Modal de borrar-->
<div class="modal" id="deleteProyectoModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de eliminar el  proyecto "{{borrarProyecto?.titulo}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onDeleteProyecto(borrarProyecto!.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>