.h2{
    font-family: 'Cabin', sans-serif;
}
.linea
{
    border-top: 1.5px solid rgb(26, 88, 124);
    height: 2px;
    max-height: 15px;
    width: 170px;
    padding: -1px;
    margin: -8px auto 0 auto;
}