<!--Añado el btn de añadir habilidad y que abra el modal -->
<div class="d-grid px-5 gap-2 d-md-flex justify-content-md-end  " *ngIf="hasAccess">
  <button type="button" class="btn btn-primary btn-sm  " data-bs-toggle="modal" data-bs-target="#addHabilidadModal"
    (click)="abrirModal('add')">
    Registrar Habilidad
  </button>

</div>


<p class="h2 text-center animate__animated animate__backInLeft">Mis Habilidades</p>
<div class="linea animate__animated animate__backInRight"></div>


<div class="row rowHabilidad">
  <div class="col-sm-5 col-md-5 col-lg-3" *ngFor="let habilidad of habilidades">
    <div class="container  animate__animated animate__zoomIn">
      <div class="row text-center">
        <!-- Agrego los botones de edición y borrar sólo para usuarios admin-->
        <div class="col text-end" *ngIf="hasAccess">
          <a type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#addHabilidadModal"
            (click)="abrirModal('edit',habilidad)">
            <i class="fa-solid fa-pen"></i>
          </a>
          <a type="button" class="btn btn-secondary btn-sm " data-bs-toggle="modal"
            data-bs-target="#deleteHabilidadModal" (click)="abrirModal('delete',habilidad)">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </div>
        <circle-progress [percent]="habilidad!.porcentaje" [radius]="80" [showUnits]="true" [outerStrokeWidth]="9"
          [innerStrokeWidth]="3" [outerStrokeGradient]="true" [outerStrokeColor]="habilidad.color1"
          [outerStrokeGradientStopColor]="habilidad.color2" [innerStrokeColor]="'#627bdf'" [animation]="true"
          [animationDuration]="3000" [showImage]="true" [imageWidth]="80" [imageHeight]="80"
          [imageSrc]="habilidad!.url_imagen.toString()" [showBackground]="false"></circle-progress>
        <label class="h5 texto">{{habilidad?.nombre}} - <font SIZE=2>{{habilidad?.porcentaje}} %</font> </label>
        

      </div>
    </div>

  </div>


  <!-- Modal  Habilidad-->

  <div class="modal fade" id="addHabilidadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModalHabilidad"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>

        <div class="modal-body">

          <form [formGroup]="form" class="row g-3" (ngSubmit)="guardarHabilidad($event)" novalidate>


            <div class="input-group form-group">
              <input type="hidden" formControlName="idHab" name="idHab" id="idHab" class="form-control">
              <label for="nombre" class="input-group-text textoLabel">Nombre </label>
              <input type="text" class="form-control"  name="nombre" placeholder="Nombre de la habilidad"
                formControlName="nombre" id="nombreHabilidad" 
                [ngClass]="{'is-invalid':Nombre?.errors && Nombre?.touched , 'is-valid':!Nombre?.errors && Nombre?.touched }"
                required>

              <div *ngIf="Nombre?.hasError('required')" class="invalid-feedback">El nombre de habilidad es requerido
              </div>

            </div>

            <div class="col-md-4 input-group form-group">
              <label for="porcentaje" class="input-group-text textoLabel">Porcentaje</label>
              <input type="number" class="form-control" formControlName="porcentaje" name="porcentaje" id="porcentaje"
                placeholder="Porcentaje en número"
                [ngClass]="{'is-invalid':Porcentaje?.errors && Porcentaje?.touched , 'is-valid':!Porcentaje?.errors && Porcentaje?.touched }"
                required>

              <div *ngIf="Porcentaje?.hasError('required')" class="invalid-feedback">El porcentaje es requerido</div>
              <div *ngIf="Porcentaje?.hasError('max')" class="invalid-feedback">El porcentaje no debe ser mayor a 100%
              </div>


            </div>

            <div class="col-md-4 input-group input-group-sm form-group">
              <label for="color1" class="input-group-text textoLabel">Color 1 </label>
              <input type="color" class="form-control" formControlName="color1" name="color1" id="color1"
                placeholder="Color 1 de barra">

              <label for="color2" class="input-group-text textoLabel">Color 2 </label>
              <input type="color" class="form-control" formControlName="color2" name="color2" id="color2"
                placeholder="Color 2 de barra">
            </div>

            <div class="col-9 input-group form-group">
              <label for="url_imagen" class="input-group-text textoLabel">Logo de Habilidad</label>
              <input type="text" class="form-control" placeholder="URL de imágen" formControlName="url_imagen"
                name="url_imagen" id="url_imagen" required>
            </div>

            <div class="row" style="padding-top:15%">

              <label>Vista Previa</label>

              <circle-progress [percent]="form.value['porcentaje']" [radius]="80" [showUnits]="true"
                [outerStrokeWidth]="9" [innerStrokeWidth]="3" [outerStrokeGradient]="true"
                [outerStrokeColor]="form.value['color1']" [outerStrokeGradientStopColor]="form.value['color2']"
                [innerStrokeColor]="'#627bdf'" [animation]="true" [animationDuration]="3000" [showImage]="true"
                [imageWidth]="80" [imageHeight]="80" [imageSrc]="form.value['url_imagen']" [showBackground]="true">
              </circle-progress>
              <p class="h5">{{form.value['nombre']}}</p>
              <p class="h7">{{form.value['porcentaje']}} %</p>

            </div>

            <div class="modal-footer form-group">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="form.invalid"
                disabled>Guardar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="form.valid">Guardar</button>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>



  <!-- Modal de borrar-->
  <div class="modal" id="deleteHabilidadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de eliminar la habilidad "{{borrarHabilidad?.nombre}}"?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="onDeleteHabilidad(borrarHabilidad!.idHab)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>