.rowHabilidad{
    padding-left:15%;
    padding-right:15%;
    text-align: center;
    align-items: center;
    background-color:steelblue
}
.h2{
    font-family: 'Cabin', sans-serif;
    color:dodgerblue

}
.texto{
    color:white;
}
.linea
{
    border-top: 1.5px solid rgb(51, 169, 236);
    height: 2px;
    max-height: 15px;
    width: 170px;
    padding: -1px;
    margin: -8px auto 0 auto;
}
.textoLabel{
    color: rgb(124, 123, 123);
}