
<div class="container-fluid">
<p class="h2 text-center animate__animated animate__backInLeft">Mis Habilidades</p>
<div class="linea animate__animated animate__backInRight"></div>
<br>

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <app-item-habilidades></app-item-habilidades>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
</div>


</div>
