<!--Añado el btn de añadir habilidad y que abra el modal -->
<div class="d-grid px-5 gap-2 d-md-flex justify-content-md-end  ">
  <button type="button" class="btn btn-outline-primary btn-sm " data-bs-toggle="modal"
    data-bs-target="#addHabilidadModal">
    Registrar Habilidad
  </button>
  <br>
</div>

<div class="container-fluid">
  <p class="h2 text-center animate__animated animate__backInLeft">Mis Habilidades</p>
  <div class="linea animate__animated animate__backInRight"></div>
  

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let habilidad of habilidades">
      <div class="container  animate__animated animate__zoomIn">
        <div class="row text-center">
          <!-- Agrego los botones de edición y borrar -->
          <div class="col text-end">
            <a type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#editHabilidadModal"
              (click)="abrirModal('edit',habilidad)">
              <fa-icon [icon]="faPencil"></fa-icon>
            </a>
            <a type="button" class="btn btn-secondary btn-sm " data-bs-toggle="modal" data-bs-target="#deleteHabilidadModal"
              (click)="abrirModal('delete',habilidad)">
              <fa-icon [icon]="basuraIcono"></fa-icon>
            </a>
          </div>
          <circle-progress [percent]="habilidad!.porcentaje" [radius]="80" [showUnits]="true" [outerStrokeWidth]="9"
            [innerStrokeWidth]="3" [outerStrokeGradient]="true" [outerStrokeColor]="'#1036d1'"
            [outerStrokeGradientStopColor]="'#232145'" [innerStrokeColor]="'#627bdf'" [animation]="true"
            [animationDuration]="3000" [showImage]="true" [imageWidth]="80" [imageHeight]="80"
            [imageSrc]="habilidad!.url_imagen.toString()" [showBackground]="false"></circle-progress>
          <p class="h5">{{habilidad?.nombre}}</p>
          <p class="h7">{{habilidad?.porcentaje}} %</p>
        
        </div>
      </div>

    </div>
  </div>

  <!-- Modal añadir Habilidad-->

<div class="modal fade" id="addHabilidadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrar Habilidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div class="modal-body">
       
        <form class="row g-3 " #addForm="ngForm" (ngSubmit)="onAddHabilidad(addForm)" novalidate="">
        
          <div class="col-md-12 form-group ">
            <label for="nombre" class="form-label">Nombre </label>
            <input type="text" class="form-control" ngModel id="nombre" name="nombre" placeholder="Nombre de la habilidad" required>
          </div>
                  
          <div class="col-md-4 form-group">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="number" class="form-control" ngModel name="porcentaje" id="porcentaje" placeholder="Porcentaje en número">
          </div>
                       
          <div class="col-9 form-group">
            <label for="url_imagen" class="form-label">Logo de Habilidad</label>
            <input type="text" class="form-control" placeholder="URL de imágen" ngModel name="url_imagen" id="url_imagen">
          </div>
        
              
                <div class="modal-footer form-group">
            <button type="button" id="add-estudio-form" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal edit Formacion-->

<div class="modal fade" id="editHabilidadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Habilidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div class="modal-body">
       
        <form class="row g-3 " #editForm="ngForm" (ngSubmit)="onEditHabilidad(editForm.value)" novalidate="">
           <div class="form-group">
            <input type="hidden" ngModel="{{editHabilidad?.idHab}}" name="idHab" id="idHab" class="form-control">
           </div>
          
           <div class="col-md-12 form-group ">
            <label for="nombre" class="form-label">Nombre </label>
            <input type="text" class="form-control" ngModel="{{editHabilidad?.nombre}}" id="nombre" name="nombre" placeholder="Nombre de la habilidad" required>
          </div>
                  
          <div class="col-md-4 form-group">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="number" class="form-control" ngModel="{{editHabilidad?.porcentaje}}" name="porcentaje" id="porcentaje" placeholder="Porcentaje en número" required>
          </div>
                       
          <div class="col-9 form-group">
            <label for="url_imagen" class="form-label">Logo de Habilidad</label>
            <input type="text" class="form-control" placeholder="URL de imágen" ngModel="{{editHabilidad?.url_imagen}}" name="url_imagen" id="url_imagen" required>
          </div>
          
          
          
                   
          <div class="modal-footer form-group">
            <button type="button" id="add-habilidad-form" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal de borrar-->
<div class="modal" id="deleteHabilidadModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de eliminar la habilidad "{{borrarHabilidad?.nombre}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onDeleteHabilidad(borrarHabilidad!.idHab)">Eliminar</button>
      </div>
    </div>
  </div>
</div>