<p class="h2 text-center animate__animated animate__backInLeft" >Mis Experiencias Laborales</p>
<div class="linea animate__animated animate__backInRight" ></div>
<br>
<div class="container-fluid" id="experiencias">
   
<div class="container" >
    <div class="row">
      <div class="col">
        <app-item-experiencia></app-item-experiencia>
      </div>
      <div class="col">
        <app-item-experiencia></app-item-experiencia>
        
      </div>
      <div class="col">
        <app-item-experiencia></app-item-experiencia>

      </div>
      <div class="col">
        <app-item-experiencia></app-item-experiencia>

      </div>
    </div>
</div>
</div>
