


<!------ Include the above in your HEAD tag ---------->


<div class="container">
  <div class="btn-toolbar">
    <button class="btn btn-primary" type="button"  data-bs-toggle="modal" data-bs-target="#modalSignup">New User</button>
    <app-signup></app-signup>
  </div>
  <div class="well">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Permisos</th>
          <th>Nombre</th>
          <th>Username</th>
          <th style="width: 136px;"></th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          
          <th scope="row" >
           

            <div  *ngFor="let item of usuario.roles; index as i">
            <a *ngIf="item.rolNombre==='ROLE_ADMIN'" style="color:brown">Admin</a>
            <a *ngIf="item.rolNombre==='ROLE_USER'" style="color:darkcyan">User</a>
            <a *ngIf="item.rolNombre==='ROLE_COLLABORATOR'">Colaborador</a>
            </div>
          </th>
     
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.username}}</td>
          <td>
            <a *ngIf="usuario.roles[0].rolNombre!='ROLE_ADMIN'" type="button" class="btn btn-primary btn-sm "   title="Editar atributos" data-bs-toggle="modal" data-bs-target="#editPermisosModal" 
            (click)="abrirModal('edit',usuario)">
            Editar permisos
          </a>
          </td>
          <td>
          <a *ngIf="usuario.roles[0].rolNombre!='ROLE_ADMIN'" type="button" class="btn btn-secondary" title="Eliminar usuario" data-bs-toggle="modal" data-bs-target="#deleteUsuarioModal"
          (click)="abrirModal('delete',usuario)" >
            <fa-icon [icon]="basuraIcono"></fa-icon>
          </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" (click)="onRegresar()">Regresar</button>
  </div>
</div>




  <!-- Modal de borrar-->
<div class="modal" id="deleteUsuarioModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de eliminar el usuario {{borrarUsuario?.nombre}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
        (click)="onDeleteUsuario(borrarUsuario?.id)" >Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal edición de atributos-->

<div class="modal fade" id="editPermisosModal" tabindex="-1" aria-labelledby="editPermisosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Permisos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="usuarioStandarCheck">
          <label class="form-check-label" for="flexRadioDefault1">
            Usuario Estándar
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="colaboradorCheck" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Colaborador
          </label>
        </div>
        
     




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="actualizarPermisos()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>