<div class="container  animate__animated animate__zoomIn">
    <div class="row text-center">
                  
<circle-progress
  [percent]="85"
  [radius]="80"
  
  [showUnits]="true"
  [outerStrokeWidth]="9"
  [innerStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'#1036d1'"
  [outerStrokeGradientStopColor]="'#232145'"
  [innerStrokeColor]="'#627bdf'"
  [animation]="true"
  [animationDuration]="3000"
  [showImage]="true"
  [imageWidth]="80"
  [imageHeight]="80"
  [imageSrc]="'/assets/icons8-javascript-48.png'"
  [showBackground]="false"
></circle-progress>
<p class="h5">JavaScript</p>
<p class="h7">85 %</p>

</div>