<!-- Modal -->
<div class="modal fade" id="modalChangePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tituloModalChangePassword" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModalChangePassword">Cambiar Contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formChangePassword" (ngSubmit)="updatePassword($event)" novalidate>
            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 input-group">
                  <input type="password" id="oldPassword" formControlName="oldPassword"
                    [ngClass]="{'is-invalid':OldPassword?.errors && OldPassword?.touched , 'is-valid':!OldPassword?.errors && OldPassword?.touched }"
                    class="form-control" required />
                  <label class="input-group-text" for="oldPassword">Password actual</label>
                </div>

                <div *ngIf="NewPassword?.errors && NewPassword?.touched ">
                  <p *ngIf="NewPassword?.hasError('required')" class="text-danger">La contraseña actual es requerida
                  </p>

                </div>
              </div>
            <div class="d-flex flex-row align-items-center mb-4 ">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 input-group">
                  <input type="password" id="newPassword" formControlName="newPassword"
                    [ngClass]="{'is-invalid':NewPassword?.errors && NewPassword?.touched , 'is-valid':!NewPassword?.errors && NewPassword?.touched }"
                    class="form-control" required />
                  <label class="input-group-text" for="newPassword">New Password</label>
                </div>

                <div *ngIf="NewPassword?.errors && NewPassword?.touched ">
                  <p *ngIf="NewPassword?.hasError('required')" class="text-danger">La contraseña es requerida
                  </p>

                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 input-group">
                  <input type="password" id="newPassword2" formControlName="newPassword2" class="form-control"
                    required />
                  <label class="input-group-text" for="password2">Repita su password</label>
                </div>
              </div>
              <div *ngIf="NewPassword2?.errors && NewPassword2?.touched">
                <p *ngIf="NewPassword2?.hasError('required')" class="text-danger">La contraseña es requerida
                </p>
                <p *ngIf="NewPassword2?.hasError('confirmacionContraseña')" class="text-danger">Las contraseñas
                  no
                  coinciden</p>

              </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
          <button type="submit" class="btn btn-primary" *ngIf="formChangePassword.invalid" disabled>Guardar</button>
          <button type="submit" class="btn btn-primary" *ngIf="formChangePassword.valid">Guardar</button>

        </div>
    </form>
      </div>
    
    </div>
  </div>