
   <app-portada [persona]="persona" ></app-portada> 
    <br> 
    <app-acerca-de [persona]="persona"></app-acerca-de>
    <br>
    <app-experiencia-laboral></app-experiencia-laboral>
    <br>
    <app-formacion  ></app-formacion>
    <br>
    <app-habilidades ></app-habilidades>
      <br>
    <app-proyectos ></app-proyectos>
    <br>
    
    <app-footer [persona]="persona"></app-footer>
    <app-change-password *ngIf="isAdmin"></app-change-password>
    <app-social-bar-floating [persona]="persona"></app-social-bar-floating>
  
  

  