.sobremi{
    padding: 50px;
       
}
#fotoPerfil{
    box-shadow: 5px 5px 5px grey;
  
}
@media (max-width: 990px) {
    .marco_foto{
        
       text-align: center;
    }
   
    #texto_acerca_de{
        text-align: center;
        
    }
    
    
}

@media (max-width: 570px) {
    .marco_foto{
        
       text-align: center;
    }
   #fotoPerfil{width: 60%;}

    #texto_acerca_de{
        text-align: center;
        font-size:large ;
    }
    
    
}
