<p class="h2 text-center">Acerca de mi</p>
<hr>
<div class="sobremi container">
            
    <div class="row">
      <div class="col-lg-8" id="acercaDe">
       
       <p class="texto_acerca_de lead text-wrap" id="texto_acerca_de">Hola, soy Cristian López, un desarrollador web que está comenzando a desandar caminos en ésta industria. Actualmente me encuentro cursando “Argentina Programa” en su segunda etapa #Yo Programo y éste portfolio web es el resultado de ésta gran aventura. 

        Actualmente vivo en Argentina, en la provincia de Córdoba.
        </p>
      </div>
      <div class="col-lg-4 marco_foto">
        <img id="fotoPerfil" src="./assets/fotoPerfil.png" class="rounded-circle" alt="...">
       </div>
      
      
    </div>
  </div>
