.h2{
    font-family: 'Cabin', sans-serif;
}
.sobremi{
    padding: 50px;
       
}
#fotoPerfil{
    box-shadow: 5px 5px 5px grey;
  
}
.linea
{
    border-top: 1.5px solid rgb(26, 88, 124);
    height: 2px;
    max-height: 15px;
    width: 170px;
    padding: -1px;
    margin: -8px auto 0 auto;

}
@media (max-width: 990px) {
    .marco_foto{
        
       text-align: center;
    }
   
    #texto_acerca_de{
        text-align: center;
        
    }
    
    
}

@media (max-width: 570px) {
    .marco_foto{
        
       text-align: center;
    }
   #fotoPerfil{width: 60%;}

    #texto_acerca_de{
        text-align: center;
        font-size:large ;
    }
    
    
}
