<p class="h2 text-center animate__animated animate__backInLeft" >Acerca de mi</p>
<div class="linea animate__animated animate__backInRight" ></div>

<div class="container" id="sobremi">
            
    <div class="row" id="filasobremi">
      <div class="col-lg-7" id="acercaDe">
      
      <p class="lead text-wrap"  id="texto_acerca_de">
         {{persona?.acerca_de}}
                </p>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4 " id="marco_foto">
        <img id="fotoPerfil" src={{persona?.url_foto}} class="rounded-circle" height=350px width=350px alt="...">
       </div>
      
      
    </div>
  </div>

  