.h2{
    font-family: 'Cabin', sans-serif;
    color:var(--lineaColor);
}
#sobremi{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#filasobremi{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fotoPerfil{
    box-shadow: 5px 5px 5px grey;
    
}

.linea
{
    border-top: 1.5px solid var(--lineaColor);
    height: 2px;
    max-height: 15px;
    width: 170px;
    padding: -1px;
    margin: -8px auto 0 auto;
    

}
@media (max-width: 990px) {
    #marco_foto{
        
       text-align: center;
    }
   
    #texto_acerca_de{
        
        text-align: center;
        
    }
    
    
}

@media (max-width: 570px) {
    #marco_foto{
        
       text-align: center;
    }
   #fotoPerfil{width: 300px;}

    #texto_acerca_de{
        text-align: center;
        font-size:large ;
    }
    
    
}
