
<div class="container-fluid">
<p class="h2 text-center">Mis Habilidades</p>

<hr>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <app-item-habilidades></app-item-habilidades>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <app-item-habilidades></app-item-habilidades>
      </div>
</div>


</div>
