<div class="container-fluid bg home">
    <app-navbar></app-navbar>
   <div class="container">
    <div class="row">
    <div class="col-8">
    <p class="h1 bg-text text1 animate__animated animate__zoomIn ">Hola,</p>
    <p class="h2 bg-text text2 animate__animated animate__lightSpeedInLeft ">soy Cristian López</p>
    <p class="h3 bg-text text3 animate__animated animate__bounceInUp">Desarrollador Web Full Stack</p>
    <p class="h4 bg-text text3 animate__animated animate__bounceInUp">Córdoba (Argentina)</p>
      
  </div>
  <div class="col-4 justify-content-end">
    <img id="logoCL" src="/assets/LogoSinFondoBlanco.png" class="img-fluid"  alt="Logo Personal de desarrollador"> 
  </div>
   </div>
   </div>
 