<div class="container-fluid bg home">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p class="h1 bg-text text1 animate__animated animate__zoomIn">Hola,</p>
        <p class="h2 bg-text text2 animate__animated animate__lightSpeedInLeft">
          soy {{ persona?.nombre }} {{ persona?.apellido }}
        </p>
        <p class="h3 bg-text text3 animate__animated animate__bounceInUp">
          Desarrollador Web Full Stack
        </p>
        <p class="h4 bg-text text3 animate__animated animate__bounceInUp">
          Córdoba (Argentina)
        </p>
      </div>
      <div class="col-4 justify-content-end">
        <img
          id="logoCL"
          src="/assets/LogoSinFondoBlanco.png"
          class="img-fluid"
          alt="Logo Personal de desarrollador"
        />
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<div class="d-grid px-5 gap-2 d-md-flex justify-content-md-end" >
  <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal"
    data-bs-target="#modificarDatosPersonales" *ngIf="hasAccess">
    Modificar información personal
  </button>

  
</div>


<!-- Modal de edicion de Datos Personales-->


<div class="modal fade modal-lg" id="modificarDatosPersonales" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Datos Personales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de edicion de persona -->
        <form class="row g-3" [formGroup]="formDatosPersonales" (ngSubmit)="guardarPersona($event)" #formulario="ngForm" novalidate="">
          
          <div class=" col-md-6 input-group">

            <label for="inputNombre" class="input-group-text">Nombre</label>
            <input type="text" class="form-control"  name="nombre" id="nombre" formControlName="nombre"  required>
         
            <label for="inputApellido" class="input-group-text">Apellido</label>
            <input type="text" class="form-control" name="apellido"  formControlName="apellido" required>
          </div>

          <div class="col-md-4 input-group">

            <label for="inputFecha" class="input-group-text">Fecha Nac.</label>
            <input type="date" class="form-control" name="fecha_nac"  formControlName="fecha_nac">
                      <label for="inputApellido" class="input-group-text">Ciudad</label>
            <input type="text" class="form-control"   value="Córdoba">
            <label for="inputApellido" class="input-group-text">País</label>
            <input type="text" class="form-control" value="Argentina">
          </div>

          <div class="col-12 input-group">
            <label for="inputEmail" class="input-group-text">Email Principal</label>
            <input type="email" class="form-control" name="mail"  formControlName="mail">
          </div>


          <div class="col-5 input-group">
            <label for="inputFoto" class="input-group-text">Foto Perfil</label>
            <input type="text" class="form-control" name="url_foto"  formControlName="url_foto">
            <img src="{{formDatosPersonales.value['url_foto']}}" class="img-thumbnail" width=300px alt="...">
          </div>



          <div class="col-12 input-group"> 
            <div class="form-floating">
              <textarea class="form-control " placeholder="Ingrese su descripción"  name="acerca_de" formControlName="acerca_de" style="height: 200px"></textarea>
              <label for="floatingTextarea input-group-text"  >Acerca de mi</label>
            </div>
          </div>
          <!-- Redes Sociales -->
         
          <div class="col-2">
            <img src="assets/logoLinkedIn.png" class="float-end" width=40px alt="...">
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control"  placeholder="LinkedIn" name="link_linkedin" formControlName="link_linkedin">
          </div> 
           
          <div class="col-2">
            <img src="assets/logoInstagram.png" class="float-end" width=40px alt="...">
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control"   placeholder="Instagram" name="link_instagram" formControlName="link_instagram">
          </div>

          <div class="col-2">
            <img src="assets/icons8-twitter-cuadrado-48.png" class="float-end"  width=40px alt="...">
          </div>
          <div class="col-md-9">
           
            <input type="text" class="form-control"   placeholder="Twitter" name="link_twitter" formControlName="link_twitter">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div> 
          </form>
      </div>
      
    </div>
  </div>
</div>



