<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-25">
  <div class="container-fluid">
    <a class="navbar-brand align-text-top" href="#" id="logo_argentina_programa">
      <img src="\assets\LogoArgentinaPrograma.png" width="30" height="24" class="d-inline-block align-text-top">
      "Argentina Programa" #YoProgramo
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <!-- Mail -->
        <li class="nav-item" *ngIf="persona?.mail!=''">
          <a class="btn btn-primary m-1 btn-social" href="mailto:{{persona?.mail}}?" role="button" target="_blank"><i
              class="fa-regular fa-envelope" data-bs-toggle="mensaje" title={{persona?.mail}}></i></a>
        </li>
        <!-- Facebook -->
        <li class="nav-item" *ngIf="persona?.link_facebook!=''">
          <a class="btn btn-primary m-1 btn-social" href={{persona?.link_facebook}} role="button" target="_blank"><i
              class="fab fa-facebook-f" data-bs-toggle="mensaje" title="Facebook"></i></a>
        </li>
        <!-- Twitter -->
        <li class="nav-item" *ngIf="persona?.link_twitter!=''">
          <a class="btn btn-primary btn-floating m-1 btn-social" href={{persona?.link_twitter}} role="button"
            target="_blank"><i class="fab fa-twitter" data-bs-toggle="mensaje" title="Twitter"></i></a>
        </li>

        <!-- Google -->
        <li class="nav-item" *ngIf="persona?.link_google!=''">
          <a class="btn btn-primary btn-floating m-1 btn-social" href={{persona?.link_google}} role="button"
            target="_blank"><i class="fab fa-google" data-bs-toggle="mensaje" title="Google" data-bs-toggle="mensaje"
              title="Google"></i></a>
        </li>

        <!-- Instagram -->
        <li class="nav-item" *ngIf="persona?.link_instagram!=''">
          <a class="btn btn-primary btn-floating m-1 btn-social" href={{persona?.link_instagram}} role="button"
            target="_blank"><i class="fab fa-instagram" data-bs-toggle="mensaje" title="Instagram"></i></a>
        </li>

        <!-- Linkedin -->
        <li class="nav-item" *ngIf="persona?.link_linkedin!=''">
          <a class="btn btn-primary btn-floating m-1 btn-social" href={{persona?.link_linkedin}} role="button"
            target="_blank"><i class="fab fa-linkedin-in" data-bs-toggle="mensaje" title="LinkedIn">
            </i></a>
        </li>
        <!-- Github -->
        <li class="nav-item" *ngIf="persona?.link_github!=''">
          <a class="btn btn-primary btn-floating m-1 btn-social" href={{persona?.link_github}} role="button"
            target="_blank" data-bs-toggle="mensaje" title="GitHub"><i class="fab fa-github"></i></a>
        </li>
        <script type="text/javascript"> </script>
        <script>
          var tooltipTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="mensaje"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
          })
        </script>
        <li class="nav-item">
          <a class="btn btn-outline-light m-1" href="login" role="button" *ngIf="!isLogged">Iniciar Sesión</a>
        </li>

        <div class="nav-item dropdown " *ngIf="isLogged">
          <button class="btn btn-outline-light dropdown-toggle m-1" type="button" id="dropdownMenu2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{nameUser}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button" (click)="onAdministrarUsuarios()"
                *ngIf="isAdmin">Administrar Usuarios</button></li>
            <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                data-bs-target="#modalChangePassword">Cambiar Contraseña</button></li>
            
              <hr class="dropdown-divider">
           

            <li><a class="dropdown-item" href="" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</a></li>
          </ul>

        </div>
      </ul>
    </div>
  </div>
</nav>