
<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-25">
  <div class="container-fluid">
    <a class="navbar-brand align-text-top" href="#" id="logo_argentina_programa">
      <img src="\assets\LogoArgentinaPrograma.png" width="30" height="24" class="d-inline-block align-text-top">
      "Argentina Programa" #YoProgramo
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand li" href={{persona?.link_linkedin}} target="_blank">
            <img src="\assets\logoLinkedIn.png" alt={{persona?.link_linkedin}} width="30" height="24">
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand li" href={{persona?.link_twitter}} target="_blank">
            <img src="\assets\icons8-twitter-cuadrado-48.png" alt={{persona?.link_twitter}} width="30" height="24">
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand li" href={{persona?.link_whatsaap}} target="_blank">
            <img src="\assets\iconWhatsaap.png" alt={{persona?.link_whatsaap}} width="30" height="24">
          </a>
        </li>
        <!-- <li class="nav-item">
                  <a class="navbar-brand li" href="https://www.linkedin.com/in/cristianlopez-ok/">
                    <img src="\assets\icons8-compartir-48.png" alt="" width="30" height="24">
                  </a>
                </li> -->
        <li class="nav-item">
          <a class="btn btn-outline-light" href="login" *ngIf="!isLogged">Iniciar Sesión</a>


        </li>

        <div class="nav-item dropdown " *ngIf="isLogged">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{nameUser}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button" (click)="onAdministrarUsuarios()" *ngIf="isAdmin">Administrar Usuarios</button></li>
            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#modalChangePassword">Cambiar Contraseña</button></li>
            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#" *ngIf="isAdmin">Aspectos Visuales</button></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            
            <li><a class="dropdown-item" href="" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</a></li>
          </ul>
            
            
  
         
        </div>

      
      </ul>
    </div>
  </div>
</nav>