#items_formacion{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}
#items_formacion2{
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2{
    font-family: 'Cabin', sans-serif;
    color:dodgerblue
    

}
.linea
{
    border-top: 1.5px solid rgb(51, 169, 236);
    height: 2px;
    max-height: 15px;
    width: 150px;
    padding: -1px;
    margin: -8px auto 0 auto;
}
.textoLabel{
    color: rgb(124, 123, 123);
}