<p class="h2 text-center animate__animated animate__backInLeft">Mi Formación</p>
<div class="linea animate__animated animate__backInRight"></div>
<br>
<div class="container animate__animated animate__zoomIn" >
    <div class="row " id="items_formacion">
        <div class="col-6">
            <app-item-formacion></app-item-formacion>
        </div>
        <div class="col-6">
            <app-item-formacion></app-item-formacion>
        </div>
        <div class="col-6">
            <app-item-formacion></app-item-formacion>
        </div>

    </div>

</div>

