#items_formacion{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}
.col{
    padding-left: 20px;
    padding-right: 20px;
}

.h2{
    font-family: 'Cabin', sans-serif;
    color:var(--lineaColor);
    

}

.card{
    box-shadow: 2px 2px 5px #999;
}


.linea
{
    border-top: 1.5px solid var(--lineaColor);
    height: 2px;
    max-height: 15px;
    width: 150px;
    padding: -1px;
    margin: -8px auto 0 auto;
}
.textoLabel{
    color: rgb(124, 123, 123);
}

