<!--Añado el btn de añadir formacion y que abra el modal -->
<div class="d-grid px-5 gap-2 d-md-flex justify-content-md-end  " *ngIf="isAdmin">
  <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#addFormacionModal"
    (click)="abrirModal('add')">
    Registrar formación
  </button>
  <br>
</div>

<p class="h2 text-center animate__animated animate__backInLeft">Mi Formación</p>
<div class="linea animate__animated animate__backInRight"></div>
<br>


<div class="container animate__animated ">
  <div class="row" id="items_formacion">
    <div class="col-4" *ngFor="let estudio of estudios">

      <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let estudio of estudios"> -->

      <!--Agrego los botones de edición y borrar -->

      <div class="col text-end" *ngIf="isAdmin">
        <a type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#addFormacionModal"
          (click)="abrirModal('edit',estudio)">
          <fa-icon [icon]="faPencil"></fa-icon>
        </a>
        <a type="button" class="btn btn-secondary btn-sm " data-bs-toggle="modal" data-bs-target="#deleteFormacionModal"
          (click)="abrirModal('delete',estudio)">
          <fa-icon [icon]="basuraIcono"></fa-icon>
        </a>
      </div>


      <div class="card bg-opacity-50 mb-3" id="tarjetaFormacion" data-aos="flip-left"
      
      data-aos-offset="150"
      data-aos-duration="3000"
        style="max-width:540px; min-height: 200px;">
        <div class="row" id="items_formacion2">
          <div class="col-md-4">
            <img src={{estudio.url_imagen_estudio}} class="img-thumbnail rounded-start" width=100px
              alt={{estudio.url_imagen_estudio}}>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{estudio.titulo}}</h5>
              <p class="card-text">{{estudio.descripcion}}</p>
              <p class="card-text"><small class="text-muted">Año: {{estudio.fecha}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal añadir Formacion-->

<div class="modal fade" id="addFormacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{titleForm}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

        </button>
      </div>
 
      <div class="modal-body">

        <form class="row g-3 " [formGroup]="formFormacion" (ngSubmit)="saveFormacion($event)" novalidate="">

          <div class="form-group">
            <input type="hidden" formControlName="idEst" name="idEst" id="idEst" class="form-control">
          </div>

          <div class="input-group form-group">
            <label for="titulo" class="input-group-text textoLabel">Título </label>
            <input type="text" class="form-control" formControlName="titulo" id="titulo" name="titulo"
              placeholder="Título" required>
            <div *ngIf="Titulo?.errors && Titulo?.touched">
              <p *ngIf="Titulo?.hasError('required')" class="text-danger">El título de la formación es requerido</p>
            </div>
          </div>


          <div class="input-group form-group">
            <div class="form-floating ">
              <textarea class="form-control" placeholder="Ingrese la descripción" formControlName="descripcion"
                id="descripcion" name="descripcion" style="height: 100px"></textarea>
              <label for="descripcion">Descripción</label>
            </div>
          </div>

          <div class="input-group form-group">
            <label for="fecha" class="input-group-text textoLabel">Año</label>
            <input type="text" class="form-control" formControlName="fecha" name="fecha" id="fecha" placeholder="Año">
          </div>

          <div class="input-group form-group">
            <label for="url_imagen_estudio" class="input-group-text textoLabel">Imágen de formacion</label>
            <input type="text" class="form-control" placeholder="URL de imágen" formControlName="url_imagen_estudio"
              name="url_imagen_estudio" id="url_imagen_estudio">
          </div>

          <div class="input-group form-group">
            <label for="url_certificado" class="input-group-text textoLabel">Imágen del certificado</label>
            <input type="text" class="form-control" formControlName="url_certificado" placeholder="URL del certificado"
              name="url_certificado" id="url_imagen_certificado">
          </div>
          <!--Vista Previa de la carga-->
          <div class="row" style="padding-top:15%">

            <label>Vista Previa</label>

            <div class="card bg-info bg-opacity-50 mb-3" id="tarjetaFormacion" data-aos="flip-left"
              style="max-width:540px; min-height: 200px;">
              <div class="row" id="items_formacion2">
                <div class="col-md-4">
                  <img src="{{formFormacion.value['url_imagen_estudio']}}" class="img-thumbnail rounded-start"
                    width=100px alt="{{formFormacion.value['url_imagen_estudio']}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{formFormacion.value['titulo']}} </h5>
                    <p class="card-text">{{formFormacion.value['descripcion']}}</p>
                    <p class="card-text"><small class="text-muted">Año: {{formFormacion.value['fecha']}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer form-group">
            <button type="button" id="add-estudio-form" class="btn btn-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="formFormacion.invalid"
              disabled>Guardar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
              *ngIf="formFormacion.valid">Guardar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<!-- Modal de borrar-->
<div class="modal" id="deleteFormacionModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de eliminar el estudio "{{borrarEstudio?.titulo}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="onDeleteFormacion(borrarEstudio!.idEst)">Eliminar</button>
      </div>
    </div>
  </div>
</div>